version: "3.8"

services:
  postgres:
    image: postgres:17
    container_name: your_container_name
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: your_db_name
      POSTGRES_USER: your_user_name
      POSTGRES_PASSWORD: your_password
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
